/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

@media screen and (max-width: 600px) {
  /* ---- Header Styles ---- */
  body {
    padding: 0px 20px;
  }

  nav {
    margin: 20px 0;
  }

  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 20px;
  }

  .logo {
    width: 70%;
  }

  .logo h3 {
    color: #131318;
    font-size: 21px;
  }

  .logo img {
    width: 40px;
  }

  /* Banner Section */

  .banner-section {
    padding: 32px 24px;
    height: 482px;
    margin-bottom: 24px;
  }

  .banner-section h1 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .banner-section p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 32px;
  }

  .banner-form form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    justify-content: center;
  }

  .banner-form form input,
  .banner-form form select {
    width: auto;
  }

  .banner-form button {
    width: 100%;
  }

  /* Our Popular Tours Section */

  .our-popular-tours-section {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }

  .our-popular-tours-content .section-title {
    font-size: 20px;
  }

  .our-popular-tours-content {
    gap: 16px;
  }

  .our-popular-tours-content .button {
    margin-top: 0px;
  }

  /* ---- Choose Your Destination Section ---- */

  .choose-your-destination-section {
    gap: 16px;
  }

  .item h4 {
    font-size: 20px;
    font-weight: 700;
  }

  .choose-your-destination-section .section-title {
    font-size: 20px;
  }
  .choose-your-destination-section .section-text-two {
    margin-bottom: 0px;
  }

  .images-grid {
    display: grid;
    gap: 16px;
    grid-template-areas:
      "mal"
      "indo"
      "sri"
      "north-a"
      "kash"
      "bang"
      "band";
  }
}
