/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

/* ---- Global Styles ---- */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

.section-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.small-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}

.button a {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-text-one {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.section-text-two {
  color: #5a5a5d;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- Header Styles ---- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 50%;
}

.logo img {
  width: 60px;
}

.logo h3 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
}
.logo span {
  color: #ff5400;
}

.menu {
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: flex;
  gap: 44px;
}

.active {
  color: #ff5400;
}

.hamburger {
  display: none;
}

/* ---- Banner Section ---- */

.banner-section {
  height: 500px;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.banner-section h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-section p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 676px;
  margin-bottom: 48px;
}

.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  max-width: 800px;
}

.banner-form form {
  display: flex;
  gap: 24px;
  padding: 16px;
}

.flex-form {
  margin: 0 auto;
}

.banner-form form input,
.banner-form form select {
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 16px;
  width: 174px;
}

.banner-form .button a {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-form .button a i {
  margin-right: 8px;
}

/* ---- Our Popular Tours Section ---- */

.our-popular-tours-section {
  display: flex;
  gap: 55px;
  align-items: center;
  margin-bottom: 100px;
}

.our-popular-tours-content {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.our-popular-tours-image {
  flex-grow: 1;
  flex-basis: 0;
}

.our-popular-tours-content ul li {
  list-style-type: disc;
  margin-left: 30px;
  max-width: 500px;
}

.our-popular-tours-content .button {
  margin-top: 8px;
}

/* ---- Choose Your Destination Section ---- */

.choose-your-destination-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 100px;
}

.item h4 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  line-height: normal;
}

.choose-your-destination-section .section-text-one {
  margin-bottom: 24px;
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  height: 300px;
  background-color: #ff5400;
}

.item h4 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.mal {
  grid-area: mal;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 5.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.indo {
  grid-area: indo;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 8.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sri {
  grid-area: sri;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 6.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.north-a {
  grid-area: north-a;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 7.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.kash {
  grid-area: kash;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 9.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bang {
  grid-area: bang;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 11.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.band {
  grid-area: band;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 10.png"), lightgray 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.images-grid {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "mal mal mal mal mal mal indo indo indo indo indo indo"
    "sri sri sri sri north-a north-a north-a north-a north-a kash kash kash"
    "bang bang bang bang bang band band band band band band band";
}

/* Why Choose Us Section */

.why-choose-us-section {
  margin-bottom: 100px;
}

.why-choose-us-section .section-title {
  margin-bottom: 24px;
}

.why-choose-us-section .section-text-one {
  max-width: 643px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.why-choose-us-cards {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.why-choose-us-single-card {
  padding: 32px 55px 32px 32px;
  flex-basis: 483px;
  border-radius: 16px;
}

.why-choose-us-single-card img {
  width: 64px;
  margin-bottom: 32px;
}

.why-choose-us-single-card .small-title {
  margin-bottom: 16px;
}

.card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}

.card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}

.card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* ---- Newsletter Form Section ---- */

.newsletter-section {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}

.newsletter-form-section {
  width: 35%;
  padding: 40px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.newsletter-form input {
  padding: 16px 251px 16px 20px;
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
}

.newsletter-form-section hr {
  border: 1px solid rgba(19, 19, 24, 0.1);
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}
.newsletter-form input {
  padding: 16px 251px 16px 20px;
}

.newsletter-form button {
  width: 100%;
}
.newsletter-image {
  width: 65%;
  position: relative;
}

.newsletter-image-sticker {
  width: 324px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: #ff5400;
  color: #fff;
  position: absolute;
  bottom: 55px;
  right: 10px;
}

.newsletter-image-sticker p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.newsletter-image-sticker h4 {
  font-size: 32px;
  font-weight: 800;
}
