/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

/* ---- Global Styles ---- */

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

body {
  font-family: "Mulish", sans-serif;
}

.section-title {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.button {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}

.button a {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.section-text-one {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.section-text-two {
  color: #5a5a5d;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

/* ---- Header Styles ---- */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  width: 50%;
}

.logo img {
  width: 60px;
}

.logo h3 {
  color: #131318;
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
}
.logo span {
  color: #ff5400;
}

.menu {
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: flex;
  gap: 44px;
}

.active {
  color: #ff5400;
}

.hamburger {
  display: none;
}

/* ---- Banner Section ---- */

.banner-section {
  height: 500px;
  border-radius: 16px;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-section h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}

.banner-section p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 676px;
  margin-bottom: 48px;
}

.banner-form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 800px;
}

.banner-form form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 16px;
  justify-content: center;
}

.flex-form {
  margin: 0 auto;
}

.banner-form form input,
.banner-form form select {
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 16px;
}

.banner-form .button a {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.banner-form .button a i {
  margin-right: 8px;
}
